<h1>

<html>


<head>

<title>formularios</title>

</head>


<body >


		<h1> Formulario 1</h1>

		<h3>Ingrese informacion</h3>


			<form action"" method="post">

			
			Nombre:<input type="text" name="nombre" size="30" /> </br></br>
			Apellido:<input type="text" name="apellido" size="30" /></br></br>
			Direccion:<input type="text" name="direccion" size="30" /></br></br>
			
			genero:<input type="radio" name="genero"  value="masculino" />masculino
					<input type="radio" name="genero"  value="femenino" />femenino</br></br>
			
			Estado civil:<select name="estadocivil">
						<option value="soltero">Soltero</option>
						<option value="casado">casado</option>
						<option value="viudo">viudo</option>
						<option value="unionlibre">union libre</option></select></br></br>
						
						
			Hobbies:</br></br><input type="checkbox" name="hobbies1">Deporte</br>	
					<input type="checkbox" name="hobbies2">Cantar</br>
			
					<input type="checkbox" name="hobbies3">leer</br>
					<input type="checkbox" name="hobbies4">otros</br></br>
					
			Observaciones: </br></br><textarea name="observaciones" rows="5" cols="30">
							</textarea>
							</br></br>
							
							
							<input type="submit" value="Enviar">    
							<input type="reset" value="Limpiar">
					
					
			</form>



</body>

</html>
</h1>
